#
#
# Galaxy Note9 USA (SM-N960U,SM-N960U1) Config
#

CONFIG_SEC_CROWNQLTE_PROJECT=y
CONFIG_MACH_CROWNQLTE_USA_SINGLE=y
# CONFIG_INPUT_TOUCHSCREEN_TCLM is not set
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
# CONFIG_TOUCHSCREEN_SEC_TS is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9018=y
# CONFIG_SAMSUNG_OIS_RUMBA_S4 is not set
CONFIG_SAMSUNG_OIS_RUMBA_S6=y
CONFIG_SAMSUNG_REAR_DUAL=y
CONFIG_SAMSUNG_MULTI_CAMERA=y
# CONFIG_PANEL_S6E3HA6_AMB577MQ01_WQHD is not set
CONFIG_PANEL_S6E3HA8_AMB622NP01_WQHD=y
# CONFIG_PANEL_S6E3HA8_AMB577PX01_WQHD is not set
CONFIG_PANEL_S6E3HA8_AMB638RD01_WQHD=y
# CONFIG_SENSORS_DELAYED_LOAD is not set
