#
#
# Galaxy S9 China (SM-G9600,SM-G9608) Config
#

CONFIG_SEC_STARQLTE_PROJECT=y
CONFIG_MACH_STARQLTE_CHNZC=y
# CONFIG_NFC_PN547 is not set
# CONFIG_NFC_PN547_ESE_SUPPORT is not set
CONFIG_SEC_NFC=y
CONFIG_ESE_P3_LSI=y
CONFIG_WLAN_REGION_CODE=300
# CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED is not set