#
#
# Galaxy S9 Plus China (SM-G9650) Config
#

CONFIG_SEC_STAR2QLTE_PROJECT=y
CONFIG_MACH_STAR2QLTE_CHNZC=y
# CONFIG_NFC_PN547 is not set
# CONFIG_NFC_PN547_ESE_SUPPORT is not set
CONFIG_SEC_NFC=y
CONFIG_ESE_P3_LSI=y
CONFIG_WLAN_REGION_CODE=300
# CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED is not set
# CONFIG_SAMSUNG_OIS_RUMBA_S4 is not set
CONFIG_SAMSUNG_OIS_RUMBA_S6=y
CONFIG_SAMSUNG_REAR_DUAL=y
CONFIG_SAMSUNG_MULTI_CAMERA=y
CONFIG_PANEL_S6E3HA6_AMS622MR01_WQHD=y
# CONFIG_PANEL_S6E3HA6_AMB577MQ01_WQHD is not set
CONFIG_PANEL_S6E3HA8_AMB622NP01_WQHD=y
# CONFIG_PANEL_S6E3HA8_AMB577PX01_WQHD is not set