#
#
# Galaxy S9 Japan (SC-02K,SM-03K,SCV38,SCV39) Config
#

CONFIG_SEC_STARQLTE_PROJECT=y
CONFIG_MACH_STARQLTE_KDI=y
# CONFIG_NFC_PN547 is not set
# CONFIG_NFC_PN547_ESE_SUPPORT is not set
CONFIG_SEC_NFC=y
# CONFIG_ESE_P3_LSI is not set
# CONFIG_ESE_SECURE is not set
CONFIG_ESE_SPI_GPIO_START=-1
CONFIG_ESE_SPI_GPIO_END=-1
CONFIG_ESE_SPI_NUMBER=99
CONFIG_ISDBT=y
CONFIG_ISDBT_FC8350_SPI=y
CONFIG_FLASH_CURRENT_JAPAN=y
CONFIG_CS100_JPNCONCEPT=y
CONFIG_MMC_CPRM=y
# CONFIG_TARGET_LOCALE_CHN is not set
# CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED is not set
